/* {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* {font-family: 'Merienda', cursive;
}*/
h1 {
    padding-top: 10px;
    padding-bottom: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
}

#quote {
    color: #fff;
}

h4 {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    padding-top: 4px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #003333;
    padding: 4px;

    -webkit-transition: all 1s ease;
}

.header {
    font-family: 'Merienda', cursive;
    text-align: center;
    /*====How do I make the ferris wheel my background image?
    background-image: url("fwheel.jpg");? Hmmm? Figure it out.===
}*/
}

.text {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #000000;
    text-align: center;
}

.menu-toggle {
    display: block;
    color: #99FF99;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
}

.fwheel {
    width: 75%;
    height: auto;
    border-radius: 65px 5px 65px;
    padding: 4px;
    background-color: #99FF99;
    align-content: center;
}

.linkpower, .dockbottom, .dockright, .headshot {
    width: 100%;
    height: auto;
    border: 2px solid;
    border-color: #000000;
}
/* #linebreak {
    color: #000000;
    width: 4px;
} */

/* Nav bar
======================================= */

.navbar {
    position: fixed;
    height: 100%;
    width: 25%;
    top: 0px;
    left: 0px;
    background-color: #99FF99;
    overflow: hidden;

    -webkit-transform: translate(-100%, 0);

    -webkit-transition: all 1s ease;
}

.navbar h2 {
    padding: 20px 0px;
    color: #003333;
    text-align: center;
}

nav a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid #398659;
}

nav a:hover {
    color: #ccc;
}

/*======Add more definitive grid structure?====


.img-responsive {
    width: 100%;
    height: auto;
    padding: 5px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}*/